/* ARTICLE CONTENT */
.show-content {
    padding-bottom: 2.5rem;
    .show-content__date {
        display: flex;
        color: $gray;
        padding: 1rem;
    }

    img {
        max-width : 100%;
        max-height:35rem;  
        border-radius: 1.5rem;
        margin-bottom: 3rem; 
    }
}

.show-content, .hunt-news {
    border-bottom: 1px solid $light-gray;
    margin-bottom:8rem; 
}

.news_hunt {
    margin-bottom:2rem; 
}