/* BUTTON */
.app-button {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
    color: $light-black;
    font-weight: 600;
    padding: 1.5rem; 
    border-radius: .5rem;
    text-align: center;
    &:hover {
        transform: translateY(-7px);
    }
    margin: 1.5rem 0; 
}

.button-yellow {
    background-color: $yellow;
    &:hover {
        background-color: $dark-yellow;
    }
}

.button-red {
    background-color: $red;
}