/* CARDS */
.horizontal-info {

    display: flex;
    flex-direction: column;
    margin-top:2rem; 

    .horizontal-cards {
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
    
        margin-bottom: 6rem;
        .img-container {
            height: 170px;
            width: 100%;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem 1rem 0 0 ;
            }
        }

        .read-more {
            padding: 1rem 0 2rem 3rem;
        }
    
        .horizontal-cards__date {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    
        h3 {
            padding: 2rem;
        }

        .horizontal-cards__description {
            p {
                text-align: justify;
                padding: 2rem 3rem;
            }

        }
    }

}

.vertical-info {
    display: flex;
    flex-direction: column;
    h3 {
        margin-bottom: 4rem;
    }
    .vertical-cards {
        display: flex;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        border-radius: 1rem;
        margin-bottom: 6rem;
        min-height:20rem; 
        max-height:22rem; 
        font-size:1.3rem; 

     
        .img-container {
            max-width:35%; 
        
            img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem 0 0 1rem ;
            }
        }
        .vertical-cards__summary {
            flex:auto; 
            padding:2rem;
            width: 50%;
            text-align: justify;
            h4 {
                font-size:1.5rem; 
                margin-bottom: 2rem;
            }
        }
    }
}

@media screen and (min-width: map-get($breakpoints, md)) {

    .horizontal-info {
        flex-wrap:wrap; 
        flex-direction: row;
        justify-content: space-between;
        .horizontal-cards {
            width:48%; 
        }
    }
}

@media screen and (min-width: map-get($breakpoints, lg)) {
    .vertical-info {
        flex-wrap:wrap; 
        flex-direction: row;
        justify-content: space-between;
        .vertical-cards {
            width: 48%;
        }
    }
}