/* COMMENT SECTION */
.comments-list {
    padding:1.5rem 0; 
    .comments-list__user{
        display: flex;
        align-items: center;
        .comments-list__name {
             color:$red; 
             padding-left: .5rem;
         }
         img {
                vertical-align: middle;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
              
         }
    }

    button {
        color: $gray; 
    }
}