/* APP CONTAINER */
.wrapper {
   word-break: break-word;
    @include mq(xxs, md) {
        padding: $scale*5; 
        
    }

    @include mq(md,xl) {
        padding: $scale*5 $scale*6; 
    }

    @include mq(xl, xxl) {
        padding: $scale*8 $scale*14; 
    }

    @include mq(xxl) {
        padding: $scale*8 $scale*20; 
    }
}

.wrapper_sect {
    @include mq(md) {
        padding-top: $scale*4.5; 
        padding-bottom: $scale*4.5;
    }
}
