/* FOOTER */
.footer {
    background-color: $red; 
    color: $white;
    .wrapper {

        display: flex;
        flex-flow: row wrap;
        border-top: 1px solid #e5e5e5;
        padding-bottom: 5rem;
    }
    h2 {
        font-weight: 600;
        font-size:1.5rem; 
    }
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    max-width: max-content;
    background-color: $yellow;
    border-radius: 100px;
    color: $light-black;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    font-size: 1.4rem;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    padding-bottom: 1rem;
    color: $light-gray; 
    font-size:1.25rem; 
    .wrapper {
        width: 100%;
        justify-content: space-between;
        padding-bottom : 1rem;
        padding-top: 2rem;
    }
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__contact {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }