/* FORM */
input[type=text], input[type=email], input[type=password], input[type=number], select:not(.form-date *), textarea{
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    margin-bottom: 2rem;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  textarea {
    height: 20rem;
  }

  .send-form, #contact_message {
    margin-bottom: 0;
  }

  .form-section {
    padding : 1.5rem 0; 
    .form-section__text {
      margin-bottom: 1rem;
      border-bottom: 1px solid $light-gray;
    }
  }

#hunt_department * {
  padding: 0 .5rem ; 
}

.categories-select {
  display:flex; 
  justify-content: space-around;
  margin-bottom: 6rem;
}

form ul li {
  color: $red;
}

.alert-success {
  color: $red; 
  padding: 1rem 0;
}