/* APP HOME */
.home-banner {
    .banner-text {
        font-weight: 600;
        font-size:3.75rem; 
    }
    .banner-image {
        margin-top : 6rem; 
    }
}

.home-buttons {
    display: flex;
    flex-direction: column;
}

.home-description {
    
    font-size: 1.6rem;
    background-color: $light-gray;
    h2 {
        line-height : 4rem; 
        padding-bottom: 2rem;
        font-weight: 600;
    }
    .fa-solid {
        color: $dark-yellow;
        font-size:3rem; 
    }

   li {
    display:flex; 
    padding: 1rem;
    
        div {
            width : 4rem; 
        }
        i {
            text-align: center;
            padding-right: 2rem;
            font-size: 2rem; 
        }
        p {
            padding-left: 1rem;
        }
   }

   .home-description__text {
    padding: 2rem 0; 
   }

}

.read-more {
    align-self : flex-start; 
    color : $red; 
}

#home-subtitle {
    padding: 2.5rem 0; 
    font-size:2.2rem; 
    font-weight: 600;
}


.more-info
{
    font-size: 1.6rem;

    background-color: $yellow;
    h2 {
        font-weight: 600;
        padding-bottom: 2rem;
    }

    .more-info__text {
        p {
            padding-bottom: .5rem;
        }
    }
}



@media screen and (min-width: map-get($breakpoints, md)) {

    .home-banner {
        display: flex;
        h1 {
            font-size: 5rem;
        }
        .banner-image {
            width:70%; 
        }
    }
    .home-link {
        width:70%; 
        align-self:center; 
    }
}

@media screen and (min-width: map-get($breakpoints, lg)) {

    .home-banner {
        display: flex;
        h1 {
            font-size: 5.5rem;
        }
        .banner-image {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .home-link {
        width:50%; 
        align-self:center; 
    }
}

@media screen and (min-width: map-get($breakpoints, xxl)) {

    .home-banner {
        h1 {
            font-size: 7rem;
        }
        .banner-image {
            width:60%; 
        }
    }
}

