@mixin mq($min-breakpoint, $max-breakpoint: "") {
  @if $max-breakpoint  !="" {
    @if map-has-key($breakpoints, $min-breakpoint) and map-has-key($breakpoints, $max-breakpoint) {
      @media (min-width: #{map-get($breakpoints, $min-breakpoint)}) and (max-width: #{map-get($breakpoints, $max-breakpoint)}) {
        @content;
      }
    }
  }

  @else {
    @if map-has-key($breakpoints, $min-breakpoint) {
      @media (min-width: #{map-get($breakpoints, $min-breakpoint)}) {
        @content;
      }
    }
  }

}