/* HEADER */

.page-header {
    background-color: $white;
    position: relative;
    position: sticky;
    top: 0px;
    padding: 1rem 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .horizontal-logo {
        display: none;
    }

    .vertical-logo {
        width:100%; 
        max-width: 6rem;
    }

    top-menu-wrapper {
        color: $black;

        &:before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }

    .fas {
        color: $light-black;
    }


    .panel,
    .top-menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        transform: translate3d(-100%, 0, 0);
        transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .top-menu {
        display: flex;
        flex-direction: column;
        width: calc(100% - 6rem);
        overflow-y: auto;
        padding: 2rem;
        background: $white;
    }

    .top-menu-wrapper.show-offcanvas {
        transition-delay: 0s;

        &:before {
            background: var(--overlay);
            z-index: 1;
        }

        .panel,
        .top-menu {
            transform: translate3d(0, 0, 0);
            transition-duration: 0.7s;
        }

        .top-menu {
            transition-delay: 0.4s;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
    }

    /* FORM
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .search-form {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        padding: 1rem 0;
        background: var(--purple-2);
        transition: all 0.2s;

        div {
            position: relative;
            width: 90%;
            max-width: 1000px;
            margin: 0 auto;
        }

        input {
            width: 100%;
            font-size: 2rem;
            height: 4rem;
            padding: 0 2rem;
        }

    }

    .search-form.is-visible {
        visibility: visible;
        opacity: 1;
    }

    /* TOP MENU
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .top-menu li+li {
        margin-top: 1.5rem;
    }

    .top-menu>li:last-child {
        margin-top: auto;
    }

    ul {
        a {
            display: inline-block;
            font-size: 1.3rem;
            text-transform: uppercase;
            transition: color 0.35s ease-out;

            &:hover {
                color: var(--red);
            }
        }
    }

    .has-dropdown i {
        display: none;
    }

    .sub-menu {
        padding: 1.5rem 2rem 0;
    }

    .top-menu .mob-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;

        i {
            color: var(--lightgray);
        }
    }

    .socials {
        display: flex;
        margin-top: 3rem;
        /* some browsers ignore the padding-bottom: 2rem of the .top-menu because it has overflow-y:auto
        https://bugzilla.mozilla.org/show_bug.cgi?id=748518
        so we add a bottom margin to the .socials
        */
        margin-bottom: 1rem;

        li+li {
            margin-top: 0;
        }

        .fa-stack {
            font-size: 1.7rem;
        }

        .fab {
            font-size: 1.2rem;
        }
    }
}

/* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  
  
@include mq(xs, lg) {
    .font-awesome-nav {
        font-size: 2rem;
    }
}

@media screen and (min-width: map-get($breakpoints, xs)) {
.page-header {
.top-menu {
            width: calc(60% - 6rem);
        }
    
    }
}


@media screen and (min-width: map-get($breakpoints, md)) {
    .page-header {
       
        .top-menu {
            padding: 4rem;
        }
    
        ul a {
            font-size: 1.6rem;
        }
    
        .search-form input {
            font-size: 2.4rem;
            height: 5rem;
            line-height: 5rem;
        }
    }

}

@media screen and (min-width: map-get($breakpoints, lg)) {
    .page-header {
        padding: 0 3rem;

        .panel,
        .open-mobile-menu,
        .vertical-logo,
        .top-menu .mob-block,
        .top-menu-wrapper::before {
            display: none;
        }

        .horizontal-logo {
            width:30%; 
            display: block;
        }

        .top-menu-wrapper {
            display: flex;
            align-items: center;
            color: $black;
        }

        .top-menu {
            flex-direction: row;
            position: static;
            width: auto;
            background: transparent;
            transform: none;
            padding: 0;
            overflow-y: visible;
            box-shadow: none !important;

            li+li {
                margin-top: 0;
            }

        }

        .top-menu>li:not(:nth-last-child(1)){
            margin-right: 3rem;
        }

        .top-menu>li>a {
            padding: 3rem 0.2rem;
        }

        .top-menu>li:last-child {
            margin-top: 0;
        }

        ul a {
            font-size: 1.3rem;
        }

        .has-dropdown {
            position: relative;

            i {
                display: inline-block;
            }

            &:hover .sub-menu {
                display: block;
            }
        }

        .sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            padding: 1.5rem 2rem;
            background: var(--purple-2);

            li+li {
                margin-top: 1.2rem;
            }

            a {
                padding: 0.5rem 1rem;
                white-space: nowrap;
            }

        }

        .search {
            display: flex;
            align-items: center;
            margin-left: 3rem;
        }


    }
}


@media screen and (min-width: map-get($breakpoints, xl)) {
    .page-header {
        .search {
            margin-left: 5rem;
        }

        i {
            margin-right: 1.5rem;
        }
    
    }
}
