/* PROFILE */
.profile-page {
    display: flex;
    flex-direction: column;

    .profile-page__name {
        text-align: center;
        padding-bottom: 2rem;
        > img {
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
        }
    }
    .profile-page__about, .profile-page__actions {
        margin-bottom: 2rem;
        p:first-child {
            margin-bottom: 2rem;
            color:$red; 
            border-bottom: 1px solid $light-gray;
        }
    }

    .profile-page__hunts {
        >p, .profile-page__hunts-valid {
            width: 100%;
            color:$red; 
            border-bottom: 1px solid $light-gray;
            margin-bottom: 2rem;
        }
    }
}

.delete-btn {
    font-size: 1.4rem;
}