/* SEARCH BAR - RESULTS */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.search-result {

    img {
        width:40%; 
        height : 50%;
    }

    .main-div{
        display: flex; 
        flex-direction: row;
    }
}