*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
}

html {
    font-size: 62.5%;
}

html, body, div, span, object, iframe, figure, p, blockquote, pre, a, code, em, img, small, strike, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    border: 0;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

  
button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

a{
    text-decoration: none;
    color:inherit; 
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}
