$white: rgb(255, 255, 255); 
$gray: 	rgba(0,0,0,0.6); 
$light-gray: rgb(240, 241, 243); 
$black:rgb(0,0,0); 
$light-black:rgb(23, 19, 33); 
$red:rgb(255,53,53); 
$yellow : rgb(255, 212, 59); 
$dark-yellow:rgb(250, 176, 5); 
$navy-blue:rgb(24,49,83);  

$breakpoints: (
    xxs : 200px, 
    xs: 376px, 
    sm: 576px, 
    md: 767px, 
    lg: 1024px, 
    xl: 1280px, 
    xxl: 1600px
);

$scale:1rem; 

