{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h2>Se connecter</h1>
		<form method="post">
			{% if error %}
				<ul>
					<li class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</li>
				</ul>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes déjà connecté(e) avec le compte
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Se déconnecter</a>
				</div>

			{% else %}

				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
				        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				        See https://symfony.com/doc/current/security/remember_me.html
				
				        <div class="checkbox mb-3">
				            <label>
				                <input type="checkbox" name="_remember_me"> Remember me
				            </label>
				        </div>
				    #}

				<button class="app-button button-yellow" type="submit">
					Se connecter
				</button>
				<a href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a>
			{% endif %}

			<p>Créer un compte en cliquant
				<a href="{{path('app_register')}}">
					<u>ici</u>
				</a>
			</p>

		</form>
	</div>
{% endblock %}

