{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="wrapper">
		<section class="home-banner">
			<div class="banner-text">
				<h1>La Plateforme
					<br>De Partage
					<br>De Chasses au trésor</h1>
			</div>
			<div class="banner-image">
				<img src="{{asset('images/banner.svg')}}" alt="people looking for a treasure" class="banner">
			</div>
		</section>
	</div>
	<section class="home-description">
		<div class="wrapper">
			<h2>Parcourez les chasses au trésor proposées par nos utilisateurs et proposez la vôtre</h2>
			<p class="home-description__text">Particulier ou entreprise, vous pouvez soumettre une chasse au trésor, qu'elle soit</p>
			<ul>
				<li>
					<div>
						<i class="fa-solid fa-calendar-days"></i>
					</div>
					<p>En cours ou à venir</p>
				</li>
				<li>
					<div>
						<i class="fa-solid fa-coins"></i>
					</div>
					<p>Gratuite ou payante</p>
				</li>
				<li>
					<div>
						<i class="fa-solid fa-street-view"></i>
					</div>
					<p>En ligne ou physique</p>
				</li>
				<li>
					<div>
						<i class="fa-solid fa-location-dot"></i>
					</div>
					<p>Localisée ou sur tout le territoire</p>
				</li>
			</ul>
			<p class="home-description__text">Une fois la chasse validée par notre équipe, elle sera accessible à l'ensemble de notre communauté de chasseurs !</p>
		</div>
	</section>

	<div class="wrapper">
		<div class="home-buttons">
			<a href="{{path('hunt_new')}}" class="app-button button-yellow home-link">Proposer une chasse</a>
		</div>

		<h3 id="home-subtitle">Les dernières chasses</h3>
		<section class="horizontal-info">
			{% for latestHunt in latestHunts %}
				<div class="horizontal-cards">
					<div class="img-container">
						<img src="{{ asset('uploads/hunts/'~latestHunt.image)}}" alt="image chasse">
					</div>
					<h3>
						<a href="{{ path('hunt_show', {'id': latestHunt.id})}}">{{latestHunt.name}}</a>
					</h3>
					<div class="horizontal-cards__date">
						<p>Début :
							{{latestHunt.beginDate | date("d-m-Y")}}</p>
						<p>Fin :
							{{latestHunt.endDate ? latestHunt.endDate | date("d-m-Y") : 'NC'}}</p>
					</div>
					<div class="horizontal-cards__description">
						<p>{{ latestHunt.description > 50 ? latestHunt.description|striptags|slice(0, 250)|split(' ')|slice(0, -1)|join(' ') ~ '…' : latestHunt.description|striptags }}</p>
					</div>
					<a href="{{ path('hunt_show', {'id': latestHunt.id})}}" class="read-more">Lire la suite</a>
				</div>
			{% endfor %}
		</section>
		<div class="home-buttons">
			<a href="{{path('hunt_index')}}" class="app-button button-yellow home-link">Voir plus</a>
		</div>
	</div>
	<section class="more-info">
		<div class="wrapper  wrapper_sect">
			<h2>Toute l'actualité centralisée</h2>
			<div class="more-info__text">
				<p>Huntee centralise toute l'actualité des chasses au trésor passées, présentes ou futures.</p>
				<p>Derniers indices, nouveaux concepts, retrouvez tous nos articles dans la rubrique actualités !</p>
			</div>
		</div>
	</section>
	<div class="wrapper wrapper_sect">
		<h3 id="home-subtitle">Les dernières actus</h3>
		<section class="vertical-info">
			{% for eachLatestNews in latestNews %}
				<div class="vertical-cards">
					<div class="img-container">
						<img src="{{ asset('uploads/news/'~eachLatestNews.image)}}" alt="image actu">
					</div>
					<div class="vertical-cards__summary">
						<h4>
							<a href="{{ path('news_show', {'id': eachLatestNews.id})}}">{{eachLatestNews.title}}</a>
						</h4>
						<div class="vertical-cards__description">
							<p>{{ eachLatestNews.content > 50 ? eachLatestNews.content|striptags|slice(0, 200)|split(' ')|slice(0, -1)|join(' ') ~ '…' : eachLatestNews.content|striptags }}</p>
						</div>
						<a href="{{ path('news_show', {'id': eachLatestNews.id})}}" class="read-more">Lire la suite</a>
					</div>
				</div>
			{% endfor %}
		</section>
	</div>

{% endblock %}

