{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% for image in field.value %}
  {%- set url = ea_url()
    .setController('Path\\To\\Your\\ImagesNewsCrudController')
    .setAction('detail')
    .setEntityId(image.id)
  -%}
  <img class="admin-img" src="/uploads/news/{{image.url}}"{% if not loop.last %}, {% endif %}/>
     
  
{% else %}  
  <span class="badge badge-secondary">None</span>
{% endfor %}