{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>Créer un compte</h1>
    
    {{ form_start(registrationForm) }}
        <div class = "form-section">
            <p class="form-section__text">Choisir un avatar</p>  
            {{ form_row(registrationForm.avatar) }}
        </div>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.password)}}


        <button type="submit" class="app-button button-yellow">S'enregistrer</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
