{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}
	<div class="wrapper">
		<p>
			Si un compte existe avec le mail renseigné, nous venons de vous envoyer un lien à cette adresse. 
			        Ce lien expire dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
		<p>Si vous n'avez pas reçu de mail, pensez à vérifier vos spams ou
			<a href="{{ path('app_forgot_password_request') }}"><u>demandez un nouveau lien.<u></a></p>
	</div>
{% endblock %}

