{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="wrapper">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h2>Réinitialiser le mot de passe</h2>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Renseignez votre mail afin de recevoir un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="app-button button-yellow">Envoyer un lien</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
