{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
<div class="wrapper">
    <h2>Réinitaliser votre mot de passe</h2>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.password) }}
        <button class="app-button button-yellow">Réinitialiser</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
