{% for comment in comments %}
	{% if comments %}
		<div class="comments-list">
			<div class="comments-list__user">
					<img src="{{ asset('uploads/avatars/'~comment.user.avatar)}}" alt="avatar">
				<p class="comments-list__name">
					<a href="{{path('user_show', {id:comment.user.id})}}">{{ comment.user.pseudo}}</a>
				</p>
			</div>
			<div class="comment-list__messages">
				<p>{{comment.content | striptags }}</p>
			</div>
			{% if app.user is same as (comment.user) %}
				<button data-id="{{comment.id}}" class="editComment">Modifier</button>
			{% endif %}
		</div>
		{% else %}
			<p>Aucun commentaire</p>
		
	{% endif %}
{% endfor %}

