{% if app.user %}
	<div class="comments-create">
		<h3>Ajouter un commentaire</h3>
		{{form_start(form)}}
		<fieldset>
			<div>
				<textarea name="{{ field_name(form.content) }}" class="send-form"></textarea>
			</div>
		</fieldset>
		<button class="app-button button-yellow">{{ button_label|default('Envoyer') }}</button>

		{{form_end(form)}}

	{% else %}
		<p>Vous devez être
			<a href="{{path('app_login')}}">
				<u>connecté(e)</u>
			</a>
			pour commenter.</p>
		<p>Si vous n'avez pas de compte, vous pouvez
			<a href="{{path('app_register')}}">
				<u>en créer un</u>
			</a>.</p>
	{% endif %}
</div>

