@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import 'partials/reset';
@import 'partials/vars';
@import 'partials/mixins';
@import 'partials/container';
@import 'partials/button';
@import 'partials/form';
@import 'partials/nav';
@import 'partials/cards';
@import 'partials/home';
@import 'partials/article';
@import 'partials/comments';
@import 'partials/results';
@import 'partials/profile';
@import 'partials/pagination';
@import 'partials/footer';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');




body { 
    display: flex; 
    flex-direction: column;
    background-color: $white;
    font: 1.4rem/1.5 'Inter', sans-serif;
    min-height: 100vh;
}

main {
    flex:1;
    padding-top : 2rem; 
}

h2 {
    font-size: 2.75rem; 
}


