{% extends 'base.html.twig' %}

{% block title %}Actualités
{% endblock %}

{% block body %}
<div class="wrapper">

<section class="horizontal-info">
	{% for news in allNews %}
		<div class="horizontal-cards">
					<div class="img-container">
						<img src="{{ asset('uploads/news/'~news.image)}}" alt="image news">
					</div>
					<h3>
						<a href="{{ path('news_show', {'id': news.id})}}">{{news.title}}</a>
					</h3>
					<div class="horizontal-cards__date">
						<p>Publié le :
							{{news.createdAt | date("d-m-Y")}}</p>
					</div>
					<div class="horizontal-cards__description">
						<p>{{ news.content > 50 ? news.content|striptags|slice(0, 250)|split(' ')|slice(0, -1)|join(' ') ~ '…' : news.content|striptags }}</p>
					</div>
				</div>
	{% endfor %}
	</section>
	{{knp_pagination_render(allNews)}}
</div>
{% endblock %}

