{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ encore_entry_script_tags('comment') }}
	{{ parent() }}
{% endblock %}

{% block title %}
	{{news.title}}
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h2>{{news.title}}</h2>
		<div class="show-content">
			<div class="show-content__date">
				<p class="show-content__date">Publié le :
					{{news.createdAt | date("d-m-Y")}}</p>
				{% if not (news.createdAt == news.updatedAt) %}
					<p class="show-content__date">Modifié le :
						{{news.updatedAt | date("d-m-Y")}}</p>
				{% endif %}
			</div>
			<p class="show-content__text">{{news.content | raw}}</p>
		</div>


		<div>
			{% include 'comment/index.html.twig' with { 'comments': comments } %}
			{% include 'comment/new.html.twig'%}
		</div>
	</div>
{% endblock %}

