<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<link rel="icon" href="{{ asset('images/favicon.svg') }}">
	</head>
	<body>
		{% include 'header.html.twig' %}
		<main>
			<div class="show-results" hidden></div>
			<div class="page-content"> 
				{% block body %}{% endblock %}
			</div>
		</main>
		{% include 'footer.html.twig' %}
		</body>
</html>

