<footer class="footer">
	<div class="wrapper">
		<div class="footer__contact">
			<h2>Contact</h2>
			<p>Une question ? Une proposition ?</p>
			<a class="footer__btn" href="{{path('app_contact')}}">Contactez-nous</a>
		</div>

		<ul class="footer__nav">
			<li class="nav__item">
				<h2 class="nav__title">Nous trouver</h2>

				<ul class="nav__ul">
					<li>
						<a href="#">Facebook</a>
					</li>

					<li>
						<a href="#">Twitter</a>
					</li>

					<li>
						<a href="#">Instagram</a>
					</li>
				</ul>
			</li>

			<li class="nav__item">
				<h2 class="nav__title">Liens utiles</h2>

				<ul class="nav__ul">
					<li>
						<a href="{{path('hunt_index')}}">Chasses</a>
					</li>

					<li>
						<a href="{{path('news_index')}}">Actualités</a>
					</li>

					<li>
						<a href="{{path('hunt_new')}}">Proposer une chasse</a>
					</li>


				</ul>
			</li>

			<li class="nav__item">
				<h2 class="nav__title">Entreprise</h2>

				<ul class="nav__ul">
					<li>
						<a href="#">Mentions légales</a>
					</li>

					<li>
						<a href="#">CGU</a>
					</li>

					<li>
						<a href="#">Qui sommes-nous</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>


	<div class="legal">
		<div class="wrapper">
			<p>&copy; Soraya F.</p>

			<div class="legal__links">
				<span>Made with
					<span class="heart">♥</span>
				</div>
				<div></div>

</footer>
