<header class="page-header">

	<nav>
		<button aria-label="Open Mobile Menu" class="open-mobile-menu font-awesome-nav">
			<i class="fas fa-bars" aria-hidden="true"></i>
		</button>


		<a href="{{path('app_index')}}">
			<img src="{{asset('images/horizontal-logo.svg')}}" alt="huntee logo" class="horizontal-logo">
			<img src="{{asset('images/vertical-logo.svg')}}" alt="huntee logo" class="logo vertical-logo">
		</a>


		<div class="top-menu-wrapper">
			<ul class="top-menu">
				<li class="mob-block">
					<button aria-label="Close Mobile Menu" class="close-mobile-menu fa-lg">
						<i class="fas fa-times" aria-hidden="true"></i>
					</button>
				</li>
				<li>
					<a href="{{path('app_index')}}">Accueil</a>
				</li>
				<li>
					<a href="{{path('news_index')}}">Actualités</a>
				</li>
				<li class="has-dropdown">

					<a href="{{path('hunt_index')}}">Chasses</a>
					<ul class="sub-menu">
						<li>
							<a href="{{path('hunt_index')}}">Liste</a>
						</li>
						<li>
							<a href="{{path('hunt_new')}}">Proposer</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="{{path('app_contact')}}">Contact</a>
				</li>

				{% if app.user and ('ROLE_ADMIN' in app.user.roles) %}
					<li>
						<a href="{{path('admin')}}" target="_blank">Admin</a>
					</li>
				{% endif %}
				{% if app.user %}
					<li>
						<a href="{{path('user_show', {id:app.user.id})}}">Profil</a>
					</li>
					<li>
						<a href="{{path('app_logout')}}">Déconnexion</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_login')}} ">Connexion</a>
					</li>
				{% endif %}
			</ul>  {# fin top-menu #}

			{% block search %}
				{% include 'search_bar.html.twig' %}
			{% endblock %}

		</div>
	</nav> {# fin nav #}
</header>
