{% block search %}
	<button class="search font-awesome-nav">
						<i class="fas fa-search"></i>
					</button>
					
		<form class="search-form">
			<div >
				<input id="searchInput" type="search" placeholder="Rechercher">
			</div>
		</form>
{% endblock %}

