{% for department in field.value %}
  {%- set url = ea_url()
    .setController('Path\\To\\Your\\DepartmentCrudController')
    .setAction('detail')
    .setEntityId(department.id)
  -%}
  <a href="{{ url }}">
    {{ department.name }}{% if not loop.last %}, {% endif %}
  </a>
{% else %}  
  <span class="badge badge-secondary">None</span>
{% endfor %}