<div class="app-form">
	{{ form_start(form) }}

	<div class="form-section">
		<p class="form-section__text">Ajouter une image</p>
		{{form_row(form.image)}}
	</div>
	{{form_row(form.name)}}
	{{form_row(form.description)}}
	{{form_row(form.beginDate)}}
	<label for="hunt-new-select-date">Y a t-il une date de fin ?</label>
	<select name="huntEnd" id="selectHuntNewEndDate">
		<option value="0">Non</option>
		<option value="1">Oui</option>
	</select>

	<div id="huntFormEndDate">{{form_row(form.endDate)}}</div>

	{{form_row(form.isLocated)}}
	<div id="huntFormDpt">{{form_row(form.department)}}</div>

	{{form_row(form.isPayable)}}
	<div id="huntFormEntryFee">{{form_row(form.entryFee)}}</div>
	<div class="form-section">
		<p class="form-section__text">A gagner</p>
		{{form_row(form.prize)}}</div>

	<button class="app-button button-yellow">{{ button_label|default('Proposer') }}</button>
	{{ form_end(form) }}
</div>

