{% extends 'base.html.twig' %}

{% block title %}Merci
{% endblock %}

{% block body %}
<div class="wrapper">
    <h2>Merci, votre contribution sera étudiée dans les plus brefs délais</h2>
    <p>Revenir à l'<a href="{{path('app_index')}}">accueil</a></p>
</div>
{% endblock %}

