{% extends 'base.html.twig' %}
{% block javascripts %}
	{{ encore_entry_script_tags('filter') }}
	{{ parent() }}
{% endblock %}

{% block title %}Liste des chasses
{% endblock %}

{% block body %}
	<div class="wrapper">
		<div id="filters">
			<form>
				<select name="filter" id="selectHuntByDate">
					<option selected disabled>--Sélectionner par date--</option>
					<option value="ascBeginDate">Plus ancienne</option>
					<option value="descBeginDate">Plus récente</option>
				</select>
			</form>

			<form>
				<select name="regions" id="selectHuntByRegion">
					<option selected disabled>--Sélectionner par région--</option>
					<option value="FR">Toute la France</option>
					{% for region in regions %}
						<option value="{{region.name}}">{{region.name}}</option>
					{% endfor %}
				</select>
			</form>
		</div>

		<div id="huntCategories">
			<form class="categories-select">
				{% for category in categories %}
					<div>
						<input type="checkbox" class="checkboxHuntCategory" value="{{category.name}}" name="category[]" {% if category.name in app.request.get("category") %} checked {% endif %}>
						<label for="{{category.name}}">{{category.name}}</label>
					</div>
				{% endfor %}
			</form>
		</div>

		<div id="indexHunts">
			<div>
				<section class="horizontal-info">
					{% for hunt in hunts %}
						<div class="horizontal-cards">
							<div class="img-container">
								<img src="{{ asset('uploads/hunts/'~hunt.image)}}" alt="image chasse">
							</div>
							<h3>
								<a href="{{ path('hunt_show', {'id': hunt.id})}}">{{hunt.name}}</a>
							</h3>
							<div class="horizontal-cards__date">
								<p>Début :
									{{hunt.beginDate | date("d-m-Y")}}</p>
								<p>Fin :
									{{hunt.endDate ? hunt.endDate | date("d-m-Y") : 'NC'}}</p>
							</div>
							<div class="horizontal-cards__description">
								<p>{{ hunt.description > 50 ? hunt.description|striptags|slice(0, 250)|split(' ')|slice(0, -1)|join(' ') ~ '…' : hunt.description|striptags }}</p>
							</div>
						</div>
					{% endfor %}
				</section>
				{{knp_pagination_render(hunts)}}
			</div>
		</div>
	</div>
{% endblock %}

