{% extends 'base.html.twig' %}

 {% block javascripts %}
        {{ encore_entry_script_tags('form') }}
		{{ parent() }}
 {% endblock %}

{% block title %}Proposer une chasse{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Proposer une chasse</h1>

    {{ include('hunt/_form.html.twig') }}
</div>
{% endblock %}
