{% extends 'base.html.twig' %}

 {% block javascripts %}
        {{ encore_entry_script_tags('comment') }}
		{{ parent() }}
 {% endblock %}

{% block title %}
	{{hunt.name}}
{% endblock %}

{% block body %}
<div class="wrapper">
	<h2>{{hunt.name}}</h2>
	<div class="show-content">
			<div class="show-content__date">
				<p class="show-content__date">Début le :
					{{hunt.beginDate | date("d-m-Y")}}</p>
				{% if hunt.endDate %}
					<p class="show-content__date">Fin le :
						{{hunt.endDate | date("d-m-Y")}}</p>
				{% endif %}
			</div>
            
    <img src="{{ asset('uploads/hunts/'~hunt.image)}}" alt="image chasse">
			<p class="show-content__text">{{hunt.description | raw}}</p>
    </div>


    {% if news|length %}
        <h3 class="news_hunt">Actu liées</h3>
        	<section class="vertical-info hunt-news">
			{% for eachNews in news %}
				<div class="vertical-cards">
					<div class="img-container">
						<img src="{{ asset('uploads/news/'~eachNews.image)}}" alt="image actu">
					</div>
					<div class="vertical-cards__summary">
						<h4>
							<a href="{{ path('news_show', {'id': eachNews.id})}}">{{eachNews.title}}</a>
						</h4>
						<div class="vertical-cards__description">
							<p>{{ eachNews.content > 50 ? eachNews.content|striptags|slice(0, 150): eachNews.content|striptags }}</p>
						</div>
						<a href="{{ path('news_show', {'id': eachNews.id})}}" class="read-more">Lire la suite</a>
					</div>
				</div>
			{% endfor %}
		</section>
    {% endif %}


	<div>
		{% include 'comment/index.html.twig' with { 'comments': comments } %}
        {% include 'comment/new.html.twig'%}
	</div>
</div>
{% endblock %}
