<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voules-vous nous quitter ? :(');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="delete-btn">Supprimer le profil</button>
</form>
