{% extends 'base.html.twig' %}

{% block title %}Editer profil{% endblock %}

{% block body %}
<div class="wrapper">
    <h2>Editer le profil</h2>

    {{ form_start(form) }}
            <div class = "form-section">
                <p class="form-section__text">Changer d'avatar</p>  
                {{ form_row(form.avatar) }}
            </div>
            {{ form_row(form.email) }}
            {{ form_row(form.pseudo) }}
            {{ form_row(form.password)}}

    <button class="app-button button-yellow">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    {{ include('user/_delete_form.html.twig') }}
</div>
{% endblock %}
