{% extends 'base.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}

{% block body %}
	<div class="wrapper">
		<div class="profile-page">
			<div class="profile-page__name">
				<img src="{{ asset('uploads/avatars/'~user.avatar)}}" alt="avatar">
				<h2>{{ user.pseudo }}</h2>
			</div>

			<div class="profile-page__about">
				<p>A propos</p>
				<p>Créé le
					{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</p>
				<p>{{comments}}
					{% if comments > 1 %}
						commentaires
					{% else %}
						commentaire
					{% endif %}
				</p>
			</div>

			<div class="profile-page__actions">
				{% if app.user == user %}
					<p>Actions</p>
					<p><a href="{{path('user_edit', {'id':user.id})}}">Modifier le profil</a></p>
					{{ include('user/_delete_form.html.twig') }}
				{% endif %}
			</div>

			<div class="profile-page__hunts">
				<section class="vertical-info">
					{% if huntsPublished|length %}
						<p class="profile-page__hunts-valid">Chasses validées</p>
						{% for hunt in huntsPublished %}
							<div class="vertical-cards">
								<div class="img-container">
									<img src="{{ asset('uploads/hunts/'~hunt.image)}}" alt="image chasse">
								</div>
								<div class="vertical-cards__summary">
									<h4>
										<a href="{{ path('hunt_show', {'id': hunt.id})}}">{{hunt.name}}</a>
									</h4>
									<div class="vertical-cards__description">
										<p>{{ hunt.description > 50 ? hunt.description|striptags|slice(0, 200)|split(' ')|slice(0, -1)|join(' ') ~ '…' : hunt.description|striptags }}</p>
									</div>
								</div>
							</div>
						{% endfor %}
					{% endif %}  {# liste des chasses publiees #}

					{% if app.user == user %}
						{% if huntsNotPublished|length %}
							<p class="profile-page__hunts-valid">En attente de validation</p>
						{% endif %}
						{% for hunt in huntsNotPublished %}
							<div class="vertical-cards">
								<div class="img-container">
									<img src="{{ asset('uploads/hunts/'~hunt.image)}}" alt="image chasse">
								</div>
								<div class="vertical-cards__summary">
									<h4>
										<a href="{{ path('hunt_show', {'id': hunt.id})}}">{{hunt.name}}</a>
									</h4>
									<div class="vertical-cards__description">
										<p>{{ hunt.description > 50 ? hunt.description|striptags|slice(0, 200)|split(' ')|slice(0, -1)|join(' ') ~ '…' : hunt.description|striptags }}</p>
									</div>
								</div>
							</div>
						{% endfor %}
					{% endif %} {# liste des chasses en attente de validation #}
				</section>
			</div>
		</div>
	</div>
{% endblock %}

